.hero {
  padding-inline-start: var(--spacing-80);
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-40);
}

.hero__copy {
  margin-block-start: var(--spacing-20);
}

.hero__ctas {
  margin-block: var(--spacing-40);
  display: flex;
  gap: var(--spacing-16);
}

.hero__info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: var(--spacing-6);
}

.hero__info > div {
  padding: var(--spacing-14) var(--spacing-20);
  border-radius: 8px;
  border: 1px solid var(--grey-15);
  background-color: var(--grey-10);
  text-align: center;
}

@media screen and (width < 768px) {
  .hero {
    padding-block: var(--spacing-60);
    padding-inline: var(--spacing-16);
    grid-template-columns: 1fr;
  }

  .hero__image {
    grid-row: 1/2;
  }

  .hero__ctas {
    flex-direction: column;
  }

  .hero__info {
    grid-template-columns: 1fr 1fr;
  }

  .hero__info > div:last-child {
    grid-column: 1/3;
  }
}
