.product {
  padding: var(--spacing-20);
  border: 1px solid var(--grey-15);
  border-radius: 8px;
  background-color: var(--grey-08);
}

.product__description {
  display: grid;
  gap: 4px;
  margin-block-start: var(--spacing-20);
}

.product__description a {
  color: var(--white);
  text-decoration: underline;
}

.product__quantity {
  flex-wrap: wrap;
  margin-block: var(--spacing-24);
}

.product__price {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product span {
  font-size: 0.875rem;
}

.product__quantity,
.product__quantity span {
  display: flex;
  align-items: center;
  gap: var(--spacing-4);
}

.product__quantity span {
  text-wrap: nowrap;
  border-radius: 50px;
  color: var(--white);
  border: 1px solid var(--grey-15);
  padding: var(--spacing-6) var(--spacing-10);
}

.product__quantity span svg {
  width: 16px;
}
