.testimonials {
  padding-inline: var(--spacing-80);
  padding-block-start: var(--spacing-80);
}

.testimonials__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1rem;
  margin-block: var(--spacing-60) var(--spacing-40);
}

@media screen and (width < 768px) {
  .testimonials {
    padding-inline: var(--spacing-16);
    padding-block-start: var(--spacing-60);
  }
}
