.title__content {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-block-start: var(--spacing-4);
}

.title__desc {
  margin-block-end: var(--spacing-10);
}

.title__desc h2 {
  margin-block-end: var(--spacing-10);
}

.button {
  font-size: 14px;
  font-weight: 500;
  color: var(--white);
  cursor: pointer;
  border-radius: 8px;
  padding: var(--spacing-14) var(--spacing-40);
  border: 1px solid var(--grey-15);
  background-color: var(--grey-10);
}

@media screen and (width < 768px) {
  .title__content {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .button {
    width: 100%;
  }
}
